<header>
	<div id="header-logo">
		<div id="header-src" class="col-xd-12" >
		<a ng-href="{{'core.errorpage.logoUrl' | translate}}"  target="_blank"> 
			<translate-elem type="img" key="core.errorpage.logo" alt="core.errorpage.logoAlt" width="core.errorpage.logoWidth" height="core.errorpage.logoHeight" />
		 	</a> 
		</div>
	</div>
</header>

<div class="banner">
	<div class="row">
		<div class="col-sm-12">
			<translate-elem type="img" key="core.errorpage.unknown.banner" alt="core.errorpage.unknown.banner.alt" width="100%"/>
		</div>
	</div>
</div>

<h3>{{ 'core.errorpage.unknown.head' | translate }}</h3>
<p>{{'core.errorpage.unknown.text' | translate}}</p>